<div class="container">


  <!-- En el header tenemos el buscador de productos -->
  <header>
      <form class="navbar-form" role="search">
          <div id="buscador" class="input-group">
              <span id="supermercado" >SUPERMERCADO</span>
              <input type="search" id="filtro" [(ngModel)]="searchText" name="Filtro" placeholder="Nombre del producto" >
              <span id="lupa" class="input-group-addon glyphicon glyphicon-search"></span>
          

            </div>
        </form>
  </header>



  <div class="row">

    <!-- Generamos mediante un for todos los productos -->

      <div class="col-sm-3" *ngFor="let producto of productos | filter : searchText"
      (click)="recibirProducto(producto)">


        
        <div class="thumbnail">
          <img src={{producto.foto}} alt="botella" id="foto">
          <div class="caption">
            <span id="precio">{{producto.precio}}€</span>
            <br>
            <span id="precio_litro">{{producto.precio_litro}}</span>
            <p id="descripcion">{{producto.descripcion}}</p>

            <div id="boton_sumar_restar">
              <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" (click)="restarProducto(producto)" data-type="minus" data-field="quant[1]">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input id="numero_objetos" type="text" name="quant[1]" class="form-control input-number" value={{producto.numero_productos}} min="1" max="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" (click)="sumarProducto(producto)" data-field="quant[1]">
                        <span class="glyphicon glyphicon-plus" ></span>
                    </button>
                </span>
              </div>
            </div>
            <br>
            <button type="button" class="btn btn-success">AÑADIR AL CARRO</button>

          </div>
        </div>
         


      </div>


    <!-- Cerramos row -->
  </div>



</div>
<!-- Cerramos div container -->